* {
    box-sizing: border-box;
}

html {
    @include tablets {
        font-size: 15px;
    }
    @include phones {
        font-size: 14px;
    }
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Ubunturegular', Arial, Helvetica, sans-serif;
    color: $dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}