.best {
    background: url(../img/bg/bg-best.jpg) center center no-repeat;
    background-size: cover;
}

.section-title {
    &.section-title_color_black {
        color: $dark;
        text-align: center;
        margin-bottom: rem(50px);
    } 
}

.best__list {
    display: flex;
    justify-content: space-between;
    @include phones {
        flex-direction: column;
    }
}

.best__item {
    width: 31%;
    @include phones {
        width: 100%;
        display: inline-flex;
        align-items: center;
        margin-bottom: rem(40px);
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.best__item-pic {
    margin-bottom: rem(20px);
    display: flex;
    justify-content: center;
}

.best__icon {
    width: rem(100px);
    height: rem(90px);
    @include phones {
        margin-right: 10px;
    }
}

.best__item-info {
    text-align: center;
    @include phones {
        text-align: left;
    }
}

.best__item-title {
    font-size: rem(24px);
    font-family: 'Lifehack', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: $dark;
    margin-bottom: rem(20px);
}

.best__item-desc {
    font-size: rem(14px);
    font-family: 'Ubuntulight', Arial, Helvetica, sans-serif;
    font-weight: normal;
    opacity: .8;
}

