.contacts {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(60px);
    background: #000 url(../img/bg/bg-footer.jpg) center center no-repeat;
    background-size: cover;
    @include phones {
        height: rem(115px);
    }
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phones {
        display: inline-block;
        text-align: center;
    }
}

.footer__left-adress {
    color: #fff;
    font-size: rem(14px);
    font-family: 'Ubuntulight', Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.footer__left-call {
    .phone {
        text-transform: uppercase;
        color: #E45028;
        font-size: rem(14px);
        font-family: 'Ubuntubold', Arial, Helvetica, sans-serif;
    }
    @include phones {
        margin-bottom: rem(10px);
    }
}

.phone__icon {
    width: rem(12px);
    height: rem(11px);
    fill: #e35028;
    margin-right: rem(8px);
}

.social-btn {
    display: flex;
    align-items: center;
    @include phones {
        justify-content: center;
    }
}

.social-btn__item {
    margin-right: rem(20px);
    &:last-child {
        margin-right: 0;
    }
}

.social-btn__link {
    display: inline-block;
    vertical-align: middle;
}

.social-btn__icon {
    display: block;
    width: 25px;
    height: 25px;
    fill: #5A5A5A;
    &:hover {
        fill: #fff;
        transition: 1s;
        transform: rotate(360deg);
    }
}